OAuth {oauthServerName = "api.twitter.com", oauthRequestUri = "https://api.twitter.com/oauth/request_token", oauthAccessTokenUri = "https://api.twitter.com/oauth/access_token", oauthAuthorizeUri = "https://api.twitter.com/oauth/authorize", oauthSignatureMethod = HMACSHA1, oauthConsumerKey = "YOUR_CONSUMER_KEY", oauthConsumerSecret = "YOUR_CONSUMER_SECRET", oauthCallback = Nothing, oauthRealm = Nothing, oauthVersion = OAuth10a}